@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@700&family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");
// @import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@700&family=Inter:wght@100;200;400;500;600&display=swap')

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "El Messiri", sans-serif;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.salon__menu__nav {
  display: none;
}
.salon__nav__bar__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 3em;
  max-width: 1440px;
  margin: 0 auto;
  position: fixed;
  z-index: 999;
  right: 0;
  left: 0;
  background-color: white;
}
.salon__nav__bar__container__active {
  background-color: aliceblue;
  border-radius: 40px;
}
.sooln__logo__div svg {
  height: 20px;
}
.salon__nav__contant__links {
  position: relative;
  display: flex;
  align-items: center;
}

.salon__nav__contant__links a {
  padding: 1em;
  margin: 0px 6px;
  color: black;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  border-radius: 8px;
}
.sign__nav__link:hover {
  background-color: #4c7346;
  color: white;
  transition: 0.3s ease-in-out;
}

.salon__nav__bar__button__two {
  display: none;
}
.salon__nav__bar__button__link__two {
  background-color: white;
  color: #32572c;
  font-weight: 600;
}
.salon__nav__bar__button__link {
  background-color: #4c7346;
  padding: 12px 19px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #32572c;
  color: white;
}
.salon__nav__bar__button__link:hover {
  border: 1px solid #32572c;
  background: transparent;
  color: #32572c;
}
.nav__btn__and__join {
  display: flex;
  align-items: center;
}
.main__header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 7em;
}
.header__container__wraper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.header__left__leave img {
  height: 400px;
}
.header__right__leave img {
  height: 400px;
}
.main__header__container__left img {
  height: 400px;
}
.main__header__container__right__contant {
  padding: 12px;
}
.main__header__container__right__contant__heading {
  font-size: 30px;
  font-weight: 600;
  font-family: "El Messiri", sans-serif;
  line-height: 36px;
}
.main__header__container__right__contant__sub__heading {
  font-size: 16px;
  font-weight: 300;
  padding: 6px 0px;
  width: 85%;
}
.main__btn {
  margin: 24px 0px;
}
.main__btn__contant {
  background-color: #4c7346;
  padding: 9px 20px;
  color: white;
  border: none;
  border-radius: 18px;
  cursor: pointer;
  text-decoration: none;
}
.home__banner__section {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home__banner__section::before {
  position: absolute;
  content: "";
  bottom: 2em;
  width: 100%;
  height: 76%;
  background-color: #32572c;
  z-index: -9999;
}
.home__banner__section__left__leave img {
  height: 260px;
  margin-top: 6em;
}
.home__banner__section__right__leave img {
  height: 350px;
  margin-top: 4.3em;
}
.home__section__banner__wraper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  max-width: 1440px;
  margin: 0 auto;
}
.home__section__banner__wraper__img img {
  height: 380px;
  margin-left: 3em;
}
.home__section__banner__wraper__contant {
  width: 50%;
  color: white;
}
.home__section__banner__wraper__contant__heading {
  font-size: 38px;
  font-weight: 600;
  line-height: 36px;
  font-family: "El Messiri", sans-serif;
}
.about__home__section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 3em;
}
.about__home__section__img img {
  height: 450px;
  padding: 1em;
}
.about__home__section__contant {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 0em 2em;
}
.about__home__section__contant__heading {
  font-size: 30px;
  font-weight: 600;
  font-family: "El Messiri", sans-serif;
}
.about__home__section__contant__sub__heading {
  font-size: 18px;
  padding: 8px 0px;
  width: 60%;
}
.footer__section {
  width: 100%;
}
.footer__container__wraper {
  width: 100%;
  position: relative;
  margin-top: 3em;
}
.footer__container__wraper__img {
  width: 100%;
  height: 600px;
}
.footer__left__overlay__img {
  position: absolute;
  bottom: 0;
}
.footer__left__overlay__img img {
  height: 350px;
  margin-left: -3em;
}
.footer__container__wraper__overlay__contant {
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 10%;
  max-width: 1440px;
  margin: 0 auto;
  color: rgb(242, 240, 240);
  max-width: 1440px;
  margin: 0 auto;
  left: 0;
  right: 0;
}
.footer__container__wraper__overlay__contant__heading {
  font-size: 38px;
  font-weight: 600;
}
.footer__container__wraper__overlay__contant__heading span {
  font-weight: 500;
}
.footer__container__wraper__overlay__contant__sub__heading {
  font-size: 16px;
  line-height: 22px;
  width: 80%;
  text-align: center;
  margin: 3em 0em;
}
.footer__wraper__contact__link {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.footer__wraper__contact__link__mail {
  width: 30%;
  padding: 1em 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid white;
}
.footer__wraper__contact__link__mail__svg svg {
  height: 40px;
}
.footer__wraper__contact__link__heading {
  font-size: 16px;
  font-weight: 600;
  margin: 5px 0px;
  text-align: center;
}
.footer__social__links {
  margin: 3em 0em;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__social__links__svg {
  margin: 12px;
  cursor: pointer;
}
.footer__social__links__svg:hover {
  color: #32572c;
}
.signup__main__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 6em;
}
.signup__main__container__img img {
  height: 400px;
}
.signup__main__container__contant {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0em 2em;
}
.signup__heading__bar {
  display: flex;
  align-items: center;
  width: 100%;
}
.signup__heading__img {
  height: 130px;
}
.signup__contant__text__heading {
  font-size: 38px;
  font-weight: 600;
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.signup__contant__text__sub__heading {
  font-size: 20px;
  font-weight: 300;
  padding: 0.5em 0em;
}
.signup__input__form {
  width: 95%;
}
.signup__input__form__container {
  width: 100%;
  // padding: 12px 0px;
  margin: 10px 0px;
}
.signup__input__form__container__input {
  width: 40%;
  padding: 12px;
  margin-right: 12px;
  border-radius: 12px;
  background-color: aliceblue;
  border: none;
  outline: none;
}
.sign__up__btn {
  width: 100%;
  display: flex;
  // align-items: center;
  justify-content: center;
  margin: 12px 0px;
}
.main__btn__contant {
  padding: 0.7em 1.5em;

  cursor: pointer;
}
.signup__alredy {
  font-size: 16px;
}
.signup__alredy__link {
  font-size: 18px;
  font-weight: 500;
  color: #32572c;
}
.signin__leave img {
  height: 300px;
  margin-left: -3em;
}
.signin__container__section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 1440px;
  margin: 0 auto;

  padding-top: 10em;
}
.signin__container__contant {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1em 2em;
}
.signin__container__contant__heading {
  font-size: 38px;
  font-weight: 600;
}
.signin__container__contant__sub__heading {
  font-size: 16px;
  padding: 12px 0px;
  text-align: center;
}
.signin__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
}
.signin__form__input {
  width: 100%;
  margin: 9px 0px;
  padding: 12px;
  margin-right: 12px;
  border-radius: 12px;
  background-color: aliceblue;
  border: none;
  outline: none;
}
.signin__container__img img {
  height: 400px;
}
.booking__wraper {
  padding-top: 4em;
  width: 100%;
  position: relative;
}
.booking__wraper__img img {
  width: 100%;
  height: 350px;
}
.booking__wraper__overlay__card {
  width: 100%;
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  right: 0;
  max-width: 1440px;
  margin: 0 auto;
}
.booking__overlay__card {
  padding: 1em;
  background-color: #6fa66b;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: none;
}
.booking__wraper__overlay__card__svg svg {
  height: 60px;
  margin: 0px 16px;
}
.booking__wraper__overlay__card__text {
  font-size: 22px;
  font-weight: 500;
  width: 40%;
}
.services__section__heading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 800;
  font-family: "El Messiri", sans-serif;
  padding: 1em 0em;
}
.services__section__container {
  width: 100%;

  padding-top: 2em;
}
.services__section__container__svg {
  position: relative;
}
.services__section__container__svg svg {
  height: 550px;
  margin-left: -4em;
}
.services__left__leave {
  position: absolute;
  top: 0;
}
.services__left__leave img {
  height: 400px;
  margin-left: -3.5em;
}
.about__contant__container {
  width: 100%;
  padding-top: 4em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about__contant__wraper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about__contant__wraper__text {
  width: 80%;
  display: flex;
  flex-direction: column;
  padding: 0em 2em;
}
.about__contant__wraper__text__heading {
  font-size: 30px;
  padding: 0.5em 0em;
  font-weight: 800;
  font-family: "El Messiri", sans-serif;
}
.about__contant__wraper__text__sub__heading {
  font-size: 16px;
  // width: 90%;
}
.about__container__right__leave img {
  height: 200px;
}
.about__container__left__leave img {
  height: 600px;
  margin-left: -6em;
}
.about__pic__section {
  width: 100%;
  position: relative;
  margin-top: -4em;
  z-index: -999;
}
.about__pic__section img {
  width: 100%;
  height: 450px;
}
.about__vision__section {
  width: 100%;
  margin: 2em 0em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about__vision__leave {
  position: relative;
}
.about__vision__leave img {
  height: 400px;
  margin-bottom: -20em;
}
.our__vision__wraper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  margin: 0 auto;
}
.about__vision__section__text {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  padding: 0em 2em;
}
.about__vision__section__img img {
  height: 300px;
}
.about__vision__section__text__heading {
  font-size: 30px;
  font-weight: 800;
  font-family: "El Messiri", sans-serif;
  padding: 12px 0px;
}
.about__vision__section__text__sub__heading {
  font-size: 16px;
  width: 90%;
}
.about__vision__btn {
  margin: 30px 0px;
}
.about__chose__section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.about__chose__section__heading {
  font-size: 30px;
  font-weight: 800;
  font-family: "El Messiri", sans-serif;
}
.our__choose__card__wraper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.our__choose__card__wraper__compnt {
  width: 30%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #edf1ec;
  padding: 1em 1.5em;
  border-radius: 5px;
}
.our__choose__card__compnt__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0px;
}
.our__choose__card__compnt__header__heading {
  font-size: 18px;
  font-weight: 700;
  padding: 0px 12px;
}
.our__choose__card__compnt__contant {
  font-size: 14px;
}
@media (max-width: 1200px) {
  .about__contant__wraper {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .about__contant__wraper__text {
    width: 100%;
  }
  .about__contant__wraper__btn {
    margin: 1em 0em;
    padding: 0em 2em;
  }
  .header__right__leave img {
    height: 250px;
  }
  .header__left__leave img {
    height: 330px;
  }
}
@media (max-width: 1000px) {
  .home__banner__section__right__leave img {
    display: none;
  }
  .header__right__leave {
    display: none;
  }
  .main__header__container__left img {
    height: 320px;
  }
  .header__left__leave img {
    height: 200px;
  }
}
@media (max-width: 850px) {
  .about__vision__leave img {
    display: none;
  }
  .about__pic__section img {
    object-fit: cover;
    height: 200px;
  }
  .signup__contant__text__heading {
    width: 75%;
  }
}
@media (max-width: 900px) {
  .about__container__left__leave img {
    height: 400px;
  }
  .about__container__right__leave img {
    display: none;
  }
  .signup__main__container__img img {
    height: 300px;
  }
  .about__home__section {
    flex-direction: column;
  }
  .about__home__section__contant {
    align-items: center;
  }
  .salon__menu__nav {
    display: none;
    display: flex;
    border-radius: 4px;
    background-color: #32572c;
    padding: 8px;
    border: none;
    margin: 0px 12px;
    cursor: pointer;
  }
  .salon__nav__contant__links {
    position: absolute;
    flex-direction: column;
    background-color: #4c7346;
    color: white;
    width: 40%;
    top: 4em;
    right: 1em;
    border-radius: 12px;
    padding: 12px;
  }
}
@media (max-width: 950px) {
  .about__vision__leave img {
    height: 300px;
  }
  .about__vision__section__img img {
    height: 250px;
  }
  .about__pic__section {
    margin: 0em;
  }
  .home__section__banner__wraper {
    flex-direction: column-reverse;
  }
  .home__section__banner__wraper__contant {
    width: 100%;
  }
  .home__banner__section::before {
    bottom: -2em;
  }
}
@media (max-width: 750px) {
  .signup__contant__text__heading {
    font-size: 28px;
  }
  .home__section__banner__wraper__contant__heading {
    font-size: 28px;
    text-align: center;
  }
  .header__container__wraper {
    flex-direction: column;
  }
  .header__right__leave img {
    display: flex !important;
  }
  .main__header__container__left img {
    height: 350px;
  }
}
@media (max-width: 650px) {
  .our__vision__wraper {
    flex-direction: column;
  }
  .about__vision__section__text {
    width: 95%;
  }
  .about__container__left__leave img {
    height: 300px;
  }
  .signup__main__container__img img {
    margin-left: -4em;
  }
  .signup__main__container {
    flex-direction: column;
  }
  .signup__contant__text__heading {
    width: 100%;
    font-size: 22px;
  }
  .signup__contant__text__sub__heading {
    padding: 0em;
  }
  .signup__contant__text__sub__heading {
    text-align: start;
  }
  .footer__container__wraper__overlay__contant {
    top: 4%;
  }
  .footer__container__wraper__overlay__contant__heading {
    font-size: 24px;
  }
  .footer__container__wraper__overlay__contant__sub__heading {
    margin: 1em 0em;
  }
  .footer__left__overlay__img {
    display: none;
  }
  .about__home__section__contant__sub__heading {
    width: 100%;
  }
  .about__home__section__img img {
    height: 350px;
  }
  .home__banner__section__left__leave img {
    display: none;
  }
  .home__section__banner__wraper__img img {
    margin-left: -3em;
  }
}
@media (max-width: 500px) {
  .about__container__left__leave img {
    display: none;
  }
  .about__contant__wraper__text__heading {
    font-size: 24px;
  }
  .salon__nav__bar__button__two {
    display: flex;
  }
  .about__contant__wraper__text__sub__heading {
    font-size: 14px;
  }
  .salon__nav__bar__button {
    display: none;
  }
  .signup__input__form__container__input {
    width: 90%;
    margin: 9px 0px;
  }
  .footer__wraper__contact__link__mail {
    width: 51%;
    border: none;
  }
  .footer__container__wraper__overlay__contant__sub__heading {
    width: 100%;
    padding: 0px 12px;
  }
  .footer__container__wraper__img {
    height: 810px;
    object-fit: cover;
  }
  .about__home__section__img img {
    height: 250px;
  }
  .about__home__section__contant__heading {
    font-size: 26px;
    font-weight: 600;
  }
  .about__home__section__contant__sub__heading {
    font-size: 16px;
  }
  .home__section__banner__wraper__contant__heading {
    font-size: 22px;
  }
  .home__section__banner__wraper__contant__sub__heading {
    font-size: 14px;
  }
  .home__section__banner__wraper__img img {
    height: 250px;
  }
  .home__banner__section__left__leave img {
    display: none;
  }
  .header__left__leave {
    display: none;
  }
  .main__header__container__right__contant {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 12px 1em;
  }
  .main__header__container__right__contant__heading {
    text-align: center;
    font-size: 24px;
  }
  .main__header__container__right__contant__sub__heading {
    font-size: 16px;
  }
  .main__header__container__left img {
    height: 250px;
  }
}
