* {
  box-sizing: border-box;
  @import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@700&family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");
}
body {
  margin: 0;
  padding: 0;
  font-family: "El Messiri", sans-serif;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}
.salon__menu__nav {
  display: none;
}
.salon__nav__bar__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 3em;
  max-width: 1440px;
  margin: 0 auto;
}
.salon__nav__contant__links {
  position: relative;
  display: flex;
  align-items: center;
}

.salon__nav__contant__links a {
  padding: 1em;
  margin: 0px 6px;
  color: black;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  border-radius: 8px;
}
.sign__nav__link:hover {
  background-color: #4c7346;
  color: white;
  transition: 0.3s ease-in-out;
}
.salon__nav__bar__button__link {
  background-color: #4c7346;
  border: 1px solid #4c7346;
  padding: 12px 19px;
  color: white;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}
.salon__nav__bar__button__link:hover {
  background: transparent;
  color: #4c7346;
}
@media (max-width: 900px) {
  .salon__menu__nav {
    display: flex;
  }
  .salon__nav__contant__links {
    position: absolute;
    flex-direction: column;
    background-color: #4c7346;
    color: white;
    width: 28%;
    top: 4em;
    right: 1em;
    border-radius: 12px;

    padding: 12px;
  }
  .salon__nav__bar__button__link {
    background-color: aliceblue;
    color: #4c7346;
    border: 1px solid white;
  }
  .salon__nav__bar__button__link:hover {
    color: white;
  }
}
